@model Lendee.Web.Features.Entity.EntitiesController.EntityViewModel
@{
    ViewData["Title"] = "Nový záznam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Upravit</h1>

<form method="post" asp-action="Create">
    <input type="hidden" value="@ViewData["returnUrl"]" name="returnUrl" />
    @await Html.PartialAsync("_Entity", Model)
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary form-control">Uložit</button>
        </div>
    </div>
</form>