@model Lendee.Web.Features.Entity.EntityViewModel
@{
    ViewData["Title"] = "SetLendee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lendee</h1>

<form method="post" asp-route-contractId="@ViewData["contractId"]">
    @await Html.PartialAsync("_Entity", Model)
    <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
            <button type="submit" class="btn btn-primary form-control">Uložit</button>
        </div>
    </div>
</form>